/* using margin, padding, float */

:root {
    --prim: #26292e;
    --sec: #e7718b;
    --tert: #f4f4f6;
    --grad: radial-gradient(
        at top center,
        #ec8da1,
        #e7718b
    );
    --border: #f0d0db;
    --btn: #2c2a2b;
    --icon: #414141;
    --iconb: #b8c4d4;
    --font: "Playwrite CU", system-ui;
}

* {box-sizing: border-box;}

/* temps */

.sec1-box {
    border: 1px solid green;
}

/* tag */

body {
    margin: 0;
    padding: 0;
}

/* class */

.bold {
    font-weight: 900;
}

.container {
    margin: 0 auto;
    width: 90%;
    border: 1px solid red;
}

.clear {
    clear: both;
}

.sec1-box {
    float: left;
    color: var(--tert);
    width: 50%;
    height: 300px;
}

.sec1-btn {
    color: var(--tert);
    background-color: var(--btn);
    border-top: 2px solid #777;
    border-radius: 5px;
    padding: 10px;
    display: block;
    float: left;
    margin-right: 50px;
    margin-top: 20px;
}

.sec2-box {
    float: left;
    width: calc(100%/3);
    padding: 20px;
    padding-bottom: 20px;
    color: #666;
    border-bottom: 10px solid var(--border)
    ;
}

.social-item {
    display: inline;
    margin: 0 5px;
}

.social-list {
    list-style: none;
    float: inline-end;
    padding-top: 30px;
}

.visually-hidden {
    /* display: none; */
}

/* id */

#footer {
    background-color: var(--prim);
    padding-bottom: 20px;
}

#header {
    padding: 20px 0;
    width: 100%;
    background-color: var(--prim);
    color: var(--tert);
    /* height: 40px; */
    width: 100%;
}

#productsBox, #reviewsBox {
    float: left
}

#productsBox {
    width: calc((100% / 3) * 2);
    border: 1px solid green;
}

#reviewsBox {
    width: calc(100% / 3);
    padding: 20px;
}

#section1 {
    background-image: var(--grad);
    width: 100%;
}

#section2 {
    background-color: var(--tert);
}

#sec1Box1 {
    padding: 30px;
}

#topHead {
    font-family: var(--font);
    float: inline-start;
}