/* using margin, padding, position */

:root {
    --prim: #26292e;
    --sec: #e7718b;
    --tert: #f4f4f6;
    --grad: #ec8da1;
    --border: #f9e2ea;
    --btn: #2c2a2b;
    --icon: #414141;
    --iconb: #b8c4d4;
}

* {box-sizing: border-box;}

/* tag */

body {
    margin: 0;
    padding: 0;
}

/* class */



/* id */

